.productImg{
    width: 40%;
    height: 30%;
}

.gf-icon {
    height: 45px;
    width: 55px;
    float: right;
}

.df-icon{
    height: 45px;
    width: 55px;
    float: left;
}

.disclaimer{
    text-align: right;
}

.filters{
    margin-left: 1px;
}
 .shop-card {
    height:500px;
 }