.productImg{
    height: 150px;
    width: 200px;
}

.gf-icon{
    height: 50px;
    width: 50px;
    float: right;
}

.df-icon{
    height: 50px;
    width: 50px;
    float: left;
}

.disclaimer{
    text-align: right;
}
